input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--input-base);

  padding: 0.75rem 1rem;

  font: var(--body-md);
  color: var(--input-placeholder);

  &:invalid {
    border: 0.125rem solid var(--danger);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font: var(--body-xs);
    color: var(--danger);

    margin-top: 0.25rem;
  }
}

label {
  font: var(--body-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: 0.75rem;
}

.about-event .flex {
  gap: 1rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  border-color: var(--brand-light);
}

input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}
