.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper label {
  display: flex;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* padding: 4px; */
  /* gap: 4px; */
  /* isolation: isolate; */
  justify-content: space-around;
  align-items: center;

  width: 272px;
  height: 50px;
  background-color: var(--input-base);

  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;

  img {
    width: 1rem;
    height: 1rem;
    align-self: center;
  }

  span {
    display: flex;
    gap: 0.5rem;
    align-content: center;
    justify-content: center;
  }
}

.checkbox-wrapper .slider {
  display: flex;
  position: absolute;
  left: 4px;
  top: 5px;
  width: 130px;
  height: 38px;
  background-color: var(--input-stroke);
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
  span[class="slider"]::before {
    content: "";
    background-image: url(../../assets/icons/video-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }
  span[class="slider"]::after {
    content: "Online";
    font: var(--body-sm-SemiBold);
  }
}

.checkbox-wrapper input[type="checkbox"]:not(:checked) + label {
  span[class="slider"]::before {
    content: "";
    background-image: url(../../assets/icons/building-2-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }
  span[class="slider"]::after {
    content: "Presecial";
    font: var(--body-sm-SemiBold);
  }
}

.checkbox-wrapper input[type="checkbox"]:checked + label .slider {
  transform: translateX(130px);
}

.input-wrapper input[id="style"] {
  box-sizing: border-box;

  width: 64px;
  height: 32px;
  border-radius: 999px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.event-style {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.75rem;
}

.event-style .slider {
  display: flex;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--input-stroke);
  border-radius: 50%;
}

.event-style input[type="checkbox"]:checked + .slider {
  transform: translateX(2.0625rem);
  background-color: var(--text-heading);
}
.event-style input[type="checkbox"]:checked {
  background-color: var(--brand-light);
}

.event-style input[type="checkbox"]:checked ~ .style-selected::after {
  content: "Claro";
}

.event-style input[type="checkbox"]:not(:checked) ~ .style-selected::after {
  content: "Escuro";
}
