.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper label {
  display: flex;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* padding: 4px; */
  /* gap: 4px; */
  /* isolation: isolate; */
  justify-content: space-around;
  align-items: center;

  width: 272px;
  height: 50px;
  background-color: var(--input-base);

  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;

  img {
    width: 1rem;
    height: 1rem;
    align-self: center;
  }

  span {
    display: flex;
    gap: 0.5rem;
    align-content: center;
    justify-content: center;
  }
}

.checkbox-wrapper .slider {
  display: flex;
  position: absolute;
  left: 4px;
  top: 5px;
  width: 130px;
  height: 38px;
  background-color: var(--input-stroke);
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
  span[class="slider"]::before {
    content: "";
    background-image: url(../../assets/icons/video-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }
  span[class="slider"]::after {
    content: "Online";
    font: var(--body-sm-SemiBold);
  }
}

.checkbox-wrapper input[type="checkbox"]:not(:checked) + label {
  span[class="slider"]::before {
    content: "";
    background-image: url(../../assets/icons/building-2-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }
  span[class="slider"]::after {
    content: "Presecial";
    font: var(--body-sm-SemiBold);
  }
}

.checkbox-wrapper input[type="checkbox"]:checked + label .slider {
  transform: translateX(130px);
}
